#SONG DATA ANALYSIS

In [34]:
!git clone https://github.com/AshishJangra27/Gaana-Data-Analysis

fatal: destination path 'Gaana-Data-Analysis' already exists and is not an empty directory.

##Preparing the dataset

In [35]:
import pandas as pd

In [36]:
df=pd.read_csv('/content/Gaana-Data-Analysis/songs.csv')

In [37]:
df

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu
...,...,...,...,...,...,...
41350,Chaaridike Paaper Andhar (Manush Janam Diye Bi...,Kishore Kumar,/artist/kishore-kumar,03:23,/chaaridike-paaper-andhar-manush-janam-diye-bidhi,Bengali
41351,Ei Ki Go Shesh Daan,Feroza Begum,/artist/feroza-begum,03:56,/ei-kigo-sesh-daan,Bengali
41352,Ei Je Bangla,Sandhya Mukherjee|Hemant Kumar,/artist/sandhya-mukherjee|/artist/hemanta-mukh...,07:36,/ei-je-bangla,Bengali
41353,Jatone Hridaye Rekho,Ajoy Chakrabarty,/artist/ajoy-chakrabarty,04:29,/jatone-hridaye-rekho,Bengali
41354,Tomar Je Oi Haater Mala,Asha Bhosle,/artist/asha-bhosle-1,03:22,/tomar-je-oi-haater-mala,Bengali

Warning: total number of rows (41355) exceeds max_rows (20000). Limiting to first (20000) rows.

In [38]:
df.head(10)

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu
5,Suna Tha Ki Woh Aayenge Anjuman Mein,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,07:59,/suna-tha-ki-woh-aayenge-anjuman-live,Urdu
6,Bahut Pahele Se Un Qadmon Ki Aahat Jaan Lete Hain,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,04:48,/bahut-pahele-se-un-kadmo-ki-aahat-jaan-lete-hain,Urdu
7,Tum Itna Jo Muskura Rahe Ho,Jagjit Singh,/artist/jagjeet-singh-1,05:21,/tum-itna-jo-muskura-rahe-ho-12,Urdu
8,Tum Apna Ranjhogham Apni,Jagjit Kaur,/artist/jagjit-kaur,03:09,/tum-apna-ranjhogham-apni-1,Urdu
9,Dialogues And Ishq Mujhko Nahin,Chitra Singh|Naseeruddin Shah,/artist/chitra-singh|/artist/naseeruddin-shah,04:24,/dialogues-82,Urdu

checking null values

In [39]:
df.isnull()

        name  singer  singer_id  duration   link  language
0      False   False      False     False  False     False
1      False   False      False     False  False     False
2      False   False      False     False  False     False
3      False   False      False     False  False     False
4      False   False      False     False  False     False
...      ...     ...        ...       ...    ...       ...
41350  False   False      False     False  False     False
41351  False   False      False     False  False     False
41352  False   False      False     False  False     False
41353  False   False      False     False  False     False
41354  False   False      False     False  False     False

[41355 rows x 6 columns]

In [40]:
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

In this data set we have 6 cols and all are imp no col is unnecessary so we are not going to remove any column

#data preprocessing

####dealing with duration. we need to convert  duration into seconds for better and easy calculations.

In [41]:
duration_lst=[]
for duration in df['duration']:
  m=(duration.split(':')[0])
  s=(duration.split(':')[1])
  m=int(m)
  s=int(s)
  sec=m*60+s
  duration_lst.append(sec)
df['duration']=duration_lst

In [42]:
df.head(10)

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu
5,Suna Tha Ki Woh Aayenge Anjuman Mein,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,479,/suna-tha-ki-woh-aayenge-anjuman-live,Urdu
6,Bahut Pahele Se Un Qadmon Ki Aahat Jaan Lete Hain,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,288,/bahut-pahele-se-un-kadmo-ki-aahat-jaan-lete-hain,Urdu
7,Tum Itna Jo Muskura Rahe Ho,Jagjit Singh,/artist/jagjeet-singh-1,321,/tum-itna-jo-muskura-rahe-ho-12,Urdu
8,Tum Apna Ranjhogham Apni,Jagjit Kaur,/artist/jagjit-kaur,189,/tum-apna-ranjhogham-apni-1,Urdu
9,Dialogues And Ishq Mujhko Nahin,Chitra Singh|Naseeruddin Shah,/artist/chitra-singh|/artist/naseeruddin-shah,264,/dialogues-82,Urdu

#Data Analysis

###average duration of a song through out a dataset?

In [43]:
average=int(df['duration'].sum()/len(df['duration']))

In [44]:
print("Average duration of a song is", average)

Average duration of a song is 295

###how many languages of songs are there?

In [62]:
print("There are total",len(set(df['language'])),"different languages")

There are total 16 different languages

###what are all the different languages?

In [46]:
for i in set(df['language']):
  print(i)

Gujarati
Hindi
Kannada
Haryanvi
Bengali
Punjabi
Malayalam
Bhojpuri
Odia
Telugu
Assamese
Marathi
Urdu
Tamil
Old
Rajasthani

#Selecting columns with a specific filter

###how many punjabi songs are there?

In [64]:
print("There are total",len(df[df['language']=='Punjabi']),"Punjabi songs")

There are total 3818 Punjabi songs

###How many songs are there in each language?

In [48]:
for lang in df['language'].unique():
  print(lang,len(df[df['language']==lang]))

Urdu 3116
Gujarati 2115
Tamil 4677
Kannada 3559
Rajasthani 541
Haryanvi 228
Punjabi 3818
Hindi 4993
Old 4993
Malayalam 479
Marathi 4699
Telugu 4996
Odia 940
Bhojpuri 519
Assamese 724
Bengali 958

###What is the average duration of song in each language?

In [49]:
for lang in df['language'].unique():
  print(lang,int(df[df['language']==lang]['duration'].mean()))

Urdu 407
Gujarati 271
Tamil 270
Kannada 250
Rajasthani 291
Haryanvi 320
Punjabi 324
Hindi 307
Old 307
Malayalam 242
Marathi 281
Telugu 279
Odia 257
Bhojpuri 357
Assamese 228
Bengali 255

because of ghazals urdu has comparitively higher average duration of songs than other languages.

In [50]:
singers=[]
for nsinger in df['singer']:
  singers+=nsinger.split('|')

In [52]:
len(set(singers))

3940

In [55]:
data = []

unique_singers = list(set(singers))

for i in unique_singers:

  c = 0
  for singers_ in df['singer']:
    if (i in singers_):
      c += 1

  data.append([i,c])

In [56]:
songs = pd.DataFrame(data, columns = ['singer','songs'])

songs.head()

songs.sort_values(by = 'songs', ascending = False).head()

                      singer  songs
2969  S. P. Balasubrahmanyam   3659
1919                   Kumar   3270
1018                 Susheel   3216
1996                Susheela   3215
3828             P. Susheela   3213

Singer who played most number of songs in each language?

In [57]:
for lang in df['language'].unique():

  df_ = df[df['language'] == lang]
  
  all_singer = []
  for singers in df_['singer']:
    all_singer += singers.split('|')

  print(lang, len(df_),len(set(all_singer)))

Urdu 3116 385
Gujarati 2115 303
Tamil 4677 510
Kannada 3559 379
Rajasthani 541 218
Haryanvi 228 76
Punjabi 3818 636
Hindi 4993 515
Old 4993 515
Malayalam 479 72
Marathi 4699 569
Telugu 4996 369
Odia 940 243
Bhojpuri 519 109
Assamese 724 228
Bengali 958 192